@model IEnumerable<StudentManagement.Models.Student>

<h1>Students Born in 2000</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Place of Birth</th>
            <th>Mobile</th>
            <th>Graduated</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.ID</td>
                <td>@student.LastName</td>
                <td>@student.FirstName</td>
                <td>@student.DateOfBirth.ToString("dd/MM/yyyy")</td>
                <td>@student.Gender</td>
                <td>@student.PlaceOfBirth</td>
                <td>@student.Mobile</td>
                <td>@(student.IsGraduated ? "Yes" : "No")</td>
                <td>@student.Age</td>
            </tr>
        }
    </tbody>
</table>
